body {
    /* max-width: 800px; */
    margin: 0 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

a {
    text-decoration: none;
}
.weak {
    display: block;
    padding: .2rem;
    font-weight: bold;
    transition: 0.5s;
}
.weak:hover {
    background-color: #0b02f9;
    color: white;
}
h1 {
    transition: 0.5s;
    text-align: center;
}
h1:hover {
    cursor: pointer;
    position: relative;
    transform: translateY(5px);
    background-color: #0a02f956;
}
h2 {
    text-align: center;

}
.li-code {
    list-style-type: none;
}
pre * {
    font-family: monospace;
    font-size: 1rem;
}

details {
    padding: 1rem;
    background-color: rgb(211, 220, 230);
}

summary {
    background-color: lightgrey;
    padding: 1rem;
    cursor: pointer;
}
body ol li {
    padding: .5rem;
}
.references {
    padding-left: 1rem;
}
ol {
    list-style-type: none;
}
.references ol li {
    padding-top: .5rem;
}
/* * {
    outline: 1px dashed red;
} */
