html {
    background-color: rgb(238, 231, 222);
}
body, footer {
    /* max-width: 800px; */
    margin: 0 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
}

.bold {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

a {
    text-decoration: none;
    color: black;
}
.weak {
    background-color: #0a02f90e;
    display: block;
    padding: .5rem;
    font-weight: bold;
    transition: 0.7s;
    text-align: center;
    /* transform: translateX(-100px); */
}
.weak::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 1rem; */
    background-color: red;
    /* transform: skew(-22deg, 0deg); */
    z-index: -1;
}
.weak:hover {
    color: white;
    background-color: #0a02f9cb;
    border-radius: 1rem;
}
h1 {
    transition: 0.5s;
    text-align: center;
}
h1:hover {
    cursor: pointer;
    position: relative;
    transform: translateY(5px);
    background-color: #0a02f956;
}
h2 {
    text-align: center;

}
.li-code {
    list-style-type: none;
}
pre * {
    font-family: monospace;
    font-size: 1rem;
}

details {
    padding: 1rem;
    background-color: rgb(211, 220, 230);
}

summary {
    background-color: lightgrey;
    padding: 1rem;
    cursor: pointer;
}
ol#oList {
    padding: 1rem;
    margin: 0 auto;
    max-width: 600px;
    background: #eee7de;
    box-shadow:  20px 20px 40px #cac4bd,
                 -20px -20px 40px #ffffff;
}
main ol li {
    padding: .2rem;
}


.references {
    padding-left: 30px;
}
ol {
    list-style-type: none;
}
.references ol li {
    padding-top: .2rem;
}
/* * {
    outline: 1px dashed red;
} */
