body {
    max-width: 800px;
    margin: 0 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

h1:hover {
    cursor: pointer;
}
.li-code {
    list-style-type: none;
}
pre * {
    font-family: monospace;
    font-size: 1rem;
}